# test stage will test all branches against:
#   - linux python 3.5, 3.6, 3.7, 3.8
#   - osx python 3.7
#
# deploy stage builds and test the wheels when jobs is
#   - pull request
#   - master branch
#   - tagged commit, only this will be uploaded to pypi

services:
  - docker

stages:
  - test
  - name: deploy
    if:  type = pull_request OR branch = master OR tag IS present AND repo = USDA-ARS-NWRC/topocalc

env:
  global:
    - CIBW_TEST_REQUIRES=nose
    - CIBW_TEST_COMMAND="nosetests -vv --exe topocalc"
    - CIBW_BUILD="cp3*-manylinux_x86_64 cp3*-macosx_x86_64"
    - CIBW_SKIP="?p27* pp*"
    - CIBW_BUILD_VERBOSITY=3
    - CIBW_BEFORE_BUILD="pip install -r requirements.txt"
    - TWINE_USERNAME=__token__
    # Note: TWINE_PASSWORD is set to a PyPI API token in Travis settings

# defining the unittest jobs
unittest: &unittest
  stage: test
  os: linux
  dist: xenial
  language: python
  install: 
    - pip install -U tox-travis coveralls
    - pip install -r requirements.txt
  script: tox

# build the wheels with cibuildwheel
ci-build-wheels: &ci-build-wheels
  stage: deploy
  services: docker
  os: linux
  dist: xenial
  language: python
  install: python3 -m pip install cibuildwheel==1.3.0
  script: travis/build.sh    

jobs:
  include:
    # test stage
    - <<: *unittest
      python: 3.5
      env: TOXENV=py35

    - <<: *unittest
      python: 3.6
      env: TOXENV=py36,flake8,coverage

    - <<: *unittest
      python: 3.7
      env: TOXENV=py37

    - <<: *unittest
      python: 3.8
      env: TOXENV=py38

    - <<: *unittest
      os: osx
      osx_image: xcode11.2  # Python 3.7.4 running on macOS 10.14.4
      language: shell
      env: TOXENV=py37

    # Deploy source distribution
    - stage: deploy
      name: Deploy source distribution
      language: python
      python: 3.6
      install: skip
      script: travis/build-sdist.sh
          
    # Deploy on linux
    - <<: *ci-build-wheels
      name: Build and deploy Linux wheels

    # Deploy on osx
    - <<: *ci-build-wheels
      name: Build and deploy macOS wheels
      os: osx
      language: shell
